body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px;
  padding: 20px;
}

button {
  background: white;
  color: #2575fc;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

#resultado {
  margin-top: 30px;
}

img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000080;
}
